<?xml version="1.0" encoding="utf-8"?>
<odoo>
       

    <!-- Main Side Menu -->
    <menuitem id="hospital_root_menu"
            name="Hospital"
            sequence="0"
            action=""/>
    <!-- Hospital Patient Root Menu -->
    <menuitem id="hospital_patient_root_menu"
        name="Patients Record"
        sequence="1"
        parent="hospital_root_menu"
        action=""/>
    <!-- Hospital Doctor Root Menu -->
    <menuitem id="hospital_doctor_root_menu"
        name="Doctors Record"
        sequence="2"
        parent="hospital_root_menu"
        action=""/>
    <!--  Hospital Appointment Root Menu -->
    <menuitem id="hospital_appointment_root_menu"
        name="Appointments Record"
        sequence="3"
        parent="hospital_root_menu"
        action=""/>
    <!--  Hospital Employee Root Menu -->
    <menuitem id="hospital_employee_root_menu"
        name="Employees Record"
        sequence="4"
        parent="hospital_root_menu"
        action=""/>
    <!--  Hospital Pharmacy Root Menu -->
    <menuitem id="hospital_pharmacy_root_menu"
        name="Pharmacy"
        sequence="5"
        parent="hospital_root_menu"
        action=""/>
  


</odoo>